[user]
	name = SeiyaKamata
	email = kmt2000200@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = false

[merge]
	conflictStyle = zdiff3

[pager]
	diff = delta
	log  = delta
	show = delta
	reflog = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	dark = true
	navigate = true
	line-numbers = true
	side-by-side = false
	syntax-theme = Dracula
	merge-conflict-style = zdiff3
	file-modified-label = [M]
	file-renamed-label = [R]
	file-removed-label = [-]
	file-copied-label = [C]
	file-added-label = [+]

[color]
	ui = auto

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal

[include]
	path = ~/.gitconfig.local

[core]
	editor = nvim
